@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--bg-color : #111827;
--text-color : rgb(211,211,211);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

input,textarea,select{
  border: none;
  outline: none;
}